.img-banner{
    width: 100%;
    height: 100%;
    background-color:#313947 ;
    border-radius:6px;
}

.text-16px-skeletons{
    width: 90%;
    height: 16px;
    background-color:#313947 ;
    margin-left: 10px;
    border-radius: 4px
}

.img-thumbnail{
    width: 100%;
    height: 60px;
    background-color:#313947 ;
    border-radius:6px;
}
.Home-film-item-Skeleton{
    padding: 8px;
    height: 284px;
}


.Home-film-img-Skeleton{
    width: 100%;
    height: 100%;
    background-color:#313947 ;
    border-radius:6px;
}
.img-Detail-Skeleton{
    width: 100%;
    height: 600px;
    background-color:#313947 ;
}

.text-Name-detail-skeletons{
    width: 40%;
    height: 34px;
    background-color:#313947 ;
    margin: 10px 0;
    border-radius:6px;

}

.SkeletonsLikeList-thumb{
    width: 80px;
    height: 86px;
    background-color:#313947 ;
}

.SkeletonsLikeList-text{
    width: 150px;
    height: 20px;
    background-color:#313947 ;

}
.SkeletonsLikeList-text-container{
    padding-left: 20px;

}

.Skeleton-Episodes{
    width: 100%;
    background-color:#313947 ;
    height: 40px;
    margin-bottom: 16px;
}



.Skeleton-thumb-search{
    width: 100%;
    height: 100%;
    background-color:#313947 ;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.Home-skeleton-film-item{
    padding: 10px 0;
    width: 100%;
    height:284px;

}